<!DOCTYPE html>
<html>
<head>
  <title>Wrap active admin v2</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "wrap_activeadmin/application", media: "all" %>
  <%= javascript_include_tag "wrap_activeadmin/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
